In [4]:
import pandas as pd

df = pd.read_csv(r'../events\events.csv')    
    
# Show DataFrame
df.sort_values(by=['timestamp']).head()

,timestamp,event,link
0,20071211,Fed announces TAFF. It supplied short-term cr...,https://www.federalreserve.gov/newsevents/pres...
1,20071211,The rate of foreclosure filings in December 20...,https://www.thetruthaboutmortgage.com/foreclos...
2,20080130,There were 57% more foreclosures than 12 month...,NaN
3,20080318,The Economic Stimulus Act of 2008,https://en.wikipedia.org/wiki/Economic_Stimulu...
4,20080318,Federal Reserve held the first emergency weeke...,https://www.thebalance.com/top-ten-economic-is...

In [2]:
#import nltk
from nltk.tokenize import word_tokenize

tokenized = "".join(df['event'][2])

tokenized

"There were 57% more foreclosures than 12 months earlier. Existing homes sales rate fell to it's lowest in 10 years"

In [3]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english')) 
  
word_tokens = word_tokenize(text) 
  
filtered_sentence = [w for w in word_tokens if not w in stop_words] 
  
filtered_sentence = []

for w in word_tokens: 
    if w not in stop_words: 
        filtered_sentence.append(w) 
  
print(word_tokens) 
print()
print(filtered_sentence)

['There', 'were', '57', '%', 'more', 'foreclosures', 'than', '12', 'months', 'earlier', '.', 'Existing', 'homes', 'sales', 'rate', 'fell', 'to', 'it', "'s", 'lowest', 'in', '10', 'years']

['There', '57', '%', 'foreclosures', '12', 'months', 'earlier', '.', 'Existing', 'homes', 'sales', 'rate', 'fell', "'s", 'lowest', '10', 'years']